<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <select id="selectStudent" parameterType="entity.Student" resultType="entity.Student">
        select * from student where true
        <choose>
            <when test="id!=null">
                and id = #{id}
            </when>
            <when test="name!=null">
                and name = #{name}
            </when>
            <when test="sex!=null">
                and sex = #{sex}
            </when>
            <when test="gradeid!=null">
                and gradeid = #{gradeid}
            </when>
        </choose>

    </select>
</mapper>